:root{
    --main-color: #eea54c;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    color: aliceblue;
}

body{
    background-color: var(--black);
}

.header{
    height: 4rem;
    width: 100%;
    border-bottom: var(--border);
    box-sizing: border-box;
}

.title{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-top: 1rem;
}

.one{
    font-size: 33px;
    color: var(--main-color);
}


section{
    padding-top: 6rem;
    background-image: url(images/background.jpg);
}

.event{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: #eea54c solid .1rem;
}

h1{
    padding-top: 1rem;
}

.text-white{
    font-size: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box1, .box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
}


.box1 h3{
    color: rgb(255, 220, 156);
    font-size: 25px;
}

p{
    font-size: 35px;
    text-transform: none;
}

.box2 a{
    width: 300px;
    background-color: #fff;
    color: #13131a;
    border-radius: 9999px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2rem;
}

.box2{
    padding-top: 2rem;
    font-size: 20px;
}

.box1, .box2{
    width: 100%;
    margin-right: auto;
    margin-left: auto
}

.box2 a:hover{
    background-color: var(--main-color);
}






@media (min-width: 640px) {
    .box1,.box2{
        width:640px
    }

    .event{
        width: 640px
    }

    .box2 a{
        width: 300px
    }
    a{
        height: 80px;
    }
}



@media (min-width: 320px) and (max-width:639px){
    .box1,.box2{
        width:300px
    }

    .event{
        width: 300px
    }

    .one{
        font-size: 20px
    }

    .text-white{
        font-size: 36px
    }

    .box1 h3{
        font-size: 12px;
    }

    p{
        font-size: 14px;
    }

    .box2 a{
        width: 200px
    }
    
    a{
        height: 50px
    }
}